[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "~=8.0.0"
aiogram = "==2.25.1"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.9"
